<div class="bb_sidebar_wrapper">
	<div class="bb_sidebar">
		<div class="bb_sidebar_section bb_logo">
			<a href="" class="bb_sidebar_link">
				<img class="logo" src="{{ "/assets/logo.png" | prepend: site.baseurl }}">
			</a>
		</div>
		<div class="bb_sidebar_section">
			<div class="bb_sidebar_link bb_sidebar_fake_link" data-path="/pages/">
				<i class="bb-pages"></i><span>Pages</span>
				<div class="bb_sidebar_sub_links">
					<a href="/edit_pages/"><i class="bb-edit-pages"></i><span>Edit Pages</span></a>
					<a href="/admin/pages/pages_create.php"><i class="bb-add-pages"></i><span>Add Pages</span></a>
				</div>
			</div>
		</div>
		<div class="bb_sidebar_section">
			<a href="/" class="bb_sidebar_link">
				<i class="bb-lists"></i><span>Lists</span>
			</a>
		</div>
		<div class="bb_sidebar_section">
			<a href="/" class="bb_sidebar_link">
				<i class="bb-posts"></i><span>Posts</span>
			</a>
		</div>
		<div class="bb_sidebar_section">
			<a href="/" class="bb_sidebar_link">
				<i class="bb-settings"></i><span>Settings</span>
			</a>
		</div>
	</div>
</div>
